.App {
  text-align: center;
}

body {
  background-color: #efefef;
  font-size: 12px;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.change-inc {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  height: 2em;
}

.btn:nth-of-type(1) {
  width: 20%;
  margin-right: 2em;
  border-radius: 1em;
}

.btn:nth-of-type(2) {
  width: 20%;
  padding: 1em;
  border-radius: 1em;
}

.displayCount {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.zero {
  padding: 10px;
  background-color: red;
  border-radius: 1em;
  color: white;
}

.notZero {
  background-color: #313131;
  width: 34px;
  padding: 10px;
  border-radius: 1em;
  text-align: center;
}
