.App {
  text-align: center;
}

body {
  background-color: #efefef;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.navLinks ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navLinks li {
  padding: 2em;
  background-color: #000500;
}

.navLinks a {
  text-decoration: none;
  color: #efefef;
}

.btn-group {
  display: flex;
  justify-content: center;
}

#resetBtn {
  margin-left: 1em;
  border-radius: 120px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#resetBtn {
  width: 5%;
}

.change-inc {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  height: 2em;
}

.btn:nth-of-type(1) {
  width: 20%;
  margin-right: 2em;
  border-radius: 1em;
}

.btn:nth-of-type(2) {
  width: 20%;
  padding: 1em;
  border-radius: 1em;
}

.displayCount {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.zero {
  padding: 10px;
  background-color: red;
  border-radius: 1em;
  color: white;
}

.notZero {
  background-color: #313131;
  width: 34px;
  padding: 10px;
  border-radius: 1em;
  text-align: center;
}
