.App {
  text-align: center;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: #0053ba;
  box-shadow: 5px 5px 5px #041835;
}

button:focus {
  outline: none;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #efefef;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

label {
  letter-spacing: 2px;
}

.radioBtn {
  margin: 1em;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navbar li {
  padding: 3vh;
  background-color: #000500;
}

.navbar a {
  text-decoration: none;
  color: #efefef;
}

.btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.radio-group {
  display: flex;
}

#resetBtn {
  flex: 1;
  font-size: 1.2em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 120px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.textZero {
  color: red;
}

#changeValue {
  height: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.change-inc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  width: 75%;
}

.btn {
  font-size: 1.5em;
}

.btn:nth-of-type(1) {
  padding: 1em 2em;
  margin-right: 2em;
  border-radius: 1em;
  min-width: 5em;
}

.btn:nth-of-type(2) {
  min-width: 5em;
  padding: 1em 2em;
  border-radius: 1em;
}

.displayCount {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.zero {
  padding: 10px;
  background-color: red;
  border-radius: 1em;
  color: white;
}

.notZero {
  background-color: #313131;
  width: 34px;
  padding: 10px;
  border-radius: 1em;
  text-align: center;
}
